#itmenuwindow
	position fixed
	left 0
	right 0
	top 0
	height 45px
	background linear-gradient(top, rgba(256, 256, 256, 0.8) 0%, rgba(256, 256, 256, 1) 100%)
	box-shadow 0 0 5px rgba(0, 0, 0, 0.2)
	border-bottom solid 1px #aaa
	z-index 9999999999
	li
		height 45px
		float left
		padding 0 10px
		line-height 45px
		font-family Roboto, "Lucida Grande", Arial, sans-serif
		font-weight 100
		list-style none
		border-right solid 1px #ccc
		color #444
